@import 'variable';
@import 'components/themeoptions';
body{
   // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.avs-admin
{

     p {
        font-size:18px;
        line-height: 2em;
    
}
}


    .avs-logo
    {
     background: #fff url(../../images/iconfinder_Avengers1.png) no-repeat center;
    background-size: 90px 90px;
    border: none;    
    height: 150px;
    position: absolute;
    top: 0;
    left: 50;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    margin: 2px 0 0;
    display: inline-block;
    width: 150px;
    text-rendering: optimizeLegibility;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    
    }
        

    .avs-welcome-version{
        margin-top: 125px;
        display: block;
        padding: 10px 0;
        background: #65bc7b;
        color: #fff;
        text-align: center;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

